---
http_interactions:
- request:
    method: post
    uri: https://radiooooo.com/play
    body:
      encoding: UTF-8
      string: '{"mode":"explore","isocodes":["KN1"],"decades":[1920,1930],"moods":["SLOW","WEIRD"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27-9TP6WW8TzqZszT+2l2ua5IhXt+Y"
    body:
      encoding: UTF-8
      string: '{"error":"No track for this selection"}'
  recorded_at: Fri, 05 Jan 2024 13:29:56 GMT
recorded_with: VCR 6.2.0
