---
http_interactions:
- request:
    method: post
    uri: https://radiooooo.com/play
    body:
      encoding: UTF-8
      string: '{"mode":"islands","island":"5d330a3e06fb03d8872a330d","moods":["WEIRD"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27-9TP6WW8TzqZszT+2l2ua5IhXt+Y"
    body:
      encoding: UTF-8
      string: '{"error":"No track for this selection"}'
  recorded_at: Fri, 05 Jan 2024 14:40:11 GMT
recorded_with: VCR 6.2.0
