---
http_interactions:
- request:
    method: post
    uri: https://radiooooo.com/play
    body:
      encoding: UTF-8
      string: '{"mode":"islands","island":"5d330a3e06fb03d8872a330d","moods":["FAST","SLOW","WEIRD"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"388-SVJpkz1UoKqDbrDlqGq0LJHQyno"
    body:
      encoding: UTF-8
      string: '{"_id":"5d330a4e06fb03d8872a4460","mood":"SLOW","title":"Trousse chemise","artist":"Charles
        Aznavour","album":"Alleluia","songwriter":"Jacques Mareuil/Charles Aznavour","label":"Barclay","country":"FRA","year":"1962","decade":1960,"length":144,"uuid":"8596fdc8-24bd-4059-9a84-8f276fbe0310","ext":{"track":"m4a","cover":"jpg"},"image":{"path":"cover/FRA/1960/","filename":"8596fdc8-24bd-4059-9a84-8f276fbe0310.jpg","color":"#384848"},"likes":42,"profile_id":"5d3306de06fb03d8871fd11a","cover":{"path":"cover/FRA/1960/","filename":"8596fdc8-24bd-4059-9a84-8f276fbe0310.jpg","color":"#384848"},"image_v":0,"liked":0,"links":{"mpeg":"https://radiooooo-track.b-cdn.net/FRA/1960/8596fdc8-24bd-4059-9a84-8f276fbe0310.m4a?token=ydD72LCGHBMMXfIco7wwdQ&expires=1704466511","ogg":"https://radiooooo-track.b-cdn.net/FRA/1960/8596fdc8-24bd-4059-9a84-8f276fbe0310.ogg?token=oWnL07WKBX6XklqwHEaI6Q&expires=1704466511"}}'
  recorded_at: Fri, 05 Jan 2024 14:40:11 GMT
recorded_with: VCR 6.2.0
