---
http_interactions:
- request:
    method: get
    uri: https://radiooooo.com/contributor/uploaded/5d3306de06fb03d8871fd138?page=2&size=3&status=duplicate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3cf-QZLynQ1KMZohnAXwpdBhZDx5YcA"
    body:
      encoding: UTF-8
      string: '[{"_id":"65a20795b712bd74a529fe81","ext":{"cover":"jpg","track":"m4a"},"status":"duplicate","country":"FRA","decade":2010,"likes":0,"image_v":0,"year":"2017","title":"The
        Movement","artist":"4th Sign","uuid":"1660a8ce-889f-4bb3-9302-07ec2b57b26c","liked":0},{"_id":"6493a8115c9db16d1ba8b782","ext":{"cover":"jpg","track":"mp3"},"status":"duplicate","country":"USA","decade":1970,"likes":0,"image":{"path":"cover/USA/1970/","filename":"76e9acf6-cbe8-4844-b66b-acb03f017dd4.jpg"},"image_v":0,"year":"1979","title":"Baby","artist":"Donnie
        & Joe Emerson","uuid":"76e9acf6-cbe8-4844-b66b-acb03f017dd4","liked":0},{"_id":"6493a774a11bd56c56a5d752","ext":{"cover":"jpg","track":"m4a"},"status":"duplicate","country":"USA","decade":1970,"likes":0,"image":{"path":"cover/USA/1970/","filename":"7db15348-2019-44a8-ab5c-9739fdc3c028.jpg"},"image_v":0,"year":"1972","title":"Down
        By the River","artist":"Neil Young & Crazy Horse","uuid":"7db15348-2019-44a8-ab5c-9739fdc3c028","liked":0}]'
  recorded_at: Fri, 09 Feb 2024 13:47:46 GMT
recorded_with: VCR 6.2.0
