---
http_interactions:
- request:
    method: get
    uri: https://radiooooo.com/contributor/uploaded/5d3306de06fb03d8871fd138?page=2&size=3&status=broken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"456-Qp5DMYfuYT/n4fYaLacvWX4txJI"
    body:
      encoding: ASCII-8BIT
      string: '[{"_id":"64938db8a11bd56c56a5ae0c","ext":{"cover":"jpg","track":"mp3"},"status":"broken","country":"FRA","decade":2000,"likes":0,"image":{"path":"cover/FRA/2000/","filename":"902742e9-bd41-4496-9367-0358b436e811.jpg"},"image_v":0,"year":"2009","title":"It
        Takes A Muscle To Fall In Love [Get A Room Edit]","artist":"Spectral Display","uuid":"902742e9-bd41-4496-9367-0358b436e811","liked":0},{"_id":"649383a183aea76ccb3fdb47","ext":{"cover":"jpg","track":"mp3"},"status":"broken","country":"GBR","decade":2000,"likes":0,"image":{"path":"cover/GBR/2000/","filename":"5fd48405-33b7-4565-88c5-043c4ede86b4.jpg"},"image_v":0,"year":"2006","title":"Monkey
        Overbite","artist":"The Emperor Machine","uuid":"5fd48405-33b7-4565-88c5-043c4ede86b4","liked":0},{"_id":"6453c4a141304a5311e17e6c","ext":{"cover":"jpg","track":"mp3"},"status":"broken","country":"GBR","decade":2000,"likes":0,"image":{"path":"cover/GBR/2000/","filename":"324461eb-5cc9-4001-ab2e-ce9f79cf30a9.jpg"},"image_v":0,"year":"2003","title":"State
        Of Grace (Original LP Mix)","artist":"Swayzak","uuid":"324461eb-5cc9-4001-ab2e-ce9f79cf30a9","liked":0}]'
  recorded_at: Wed, 10 Jan 2024 16:31:09 GMT
recorded_with: VCR 6.2.0
