---
http_interactions:
- request:
    method: get
    uri: https://radiooooo.com/contributor/5d3306de06fb03d8871fd138
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"153-8qBe0IUB3jKmRK+QFOEK0yzQTF0"
    body:
      encoding: UTF-8
      string: '{"_id":"5d3306de06fb03d8871fd138","info":"Dreamseeker","country":"FRA","birthday":"1981-01-31T23:01:01.000Z","uuid":"2d489ad3-d710-4104-9696-dbd67aaf1033","ranking":9186,"created":"2014-09-30T18:58:32.000Z","pseudonym":"Paul
        Charmant-Kabil","image_v":3,"image":{"path":"user/1409/","filename":"2d489ad3-d710-4104-9696-dbd67aaf1033_3.jpg"}}'
  recorded_at: Wed, 10 Jan 2024 13:33:28 GMT
recorded_with: VCR 6.2.0
